
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
</head>

<body style="background: #EAF0F6;">
  <div class="wrapper" style="
    max-width: 650px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 14px;
  line-height: 1.4;
  ">
    <img src="https://lh3.googleusercontent.com/pw/AL9nZEWvPKhRoXdzOd2zOWnu2_athOzuJAnDVtyuaGvrF5Y7OMXHlBaARQuN1EBAJFeXZjsj7STORzZHE1Ass6KwlhvLjMg_AxfhOMlhlSxv8Maz7mbP_3k-Ckkh7rvvok_UdK-_9fnIl7GuFy2rWhYsXoI=w304-h80-no" alt="">
  </div>
    <div class="wrapper" style="
                                width: 612px;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                                color: #4B4B4B;
                                margin: 0 auto;
                                background-color: #fff;
                                padding: 30px;
                              ">
        <h3 style="text-align: center">Welcome to BlueOnion!</h3>
        <div style="text-align: center;">
          <img src="https://lh3.googleusercontent.com/mTMYkhz4BUCctxxlhCMhPawB73f-yiqiUD9wINQ2EEFqVPUd6O2kZBZhOY0tSUJnWB5feCBJnH_OtlxECvMsWajzo4EcQp79jwTpZKf--D-Ehca-257C6kloqL1iEpvzKNswm6uqR-K9J_HLl3rb6m6gG5yI1lapChSxXWN6yjNofZPEzEI9HsQ099GgBEgUWpLVrX7a810GxUbUzRqmhBcGvmoZPI_bUnYen_2bIRk6beSXMdh8qCR3NdeSju8_R1fkm1nqToQTYhlA8vHlApkOVi9-Cx46oZl2hRs8V62srZla-2QIbDpxL5Fjc0X-K2xXKV539RW5nIy_60od9OBuWeVh5rry1KHIWFHpNhE9m-s8YHU9DYjRNb0RSEU1_kB6DctpU6XSSYumsJfEboyRLDtJE_v4ZgOLEzHqLz-nKEECScfeuqad4T9Z8vxdhZ2BhBgCSJWjwollsGNDaSgFdWZczE7dnW1TKK_ZX6ZAAVED4bqGbvA1SaSlNVgtMHcjV9vtdswhXS-TPPUa0bONzgfcdFM1uHl7qRE8iAx5EL5owstBYuPuHoIQt-YOgsD5GnIsej5eRlcoNn8dx7ePKDx_mSvUncYIV0oSyOYlomSfIRQGE4GBFCEE4Q_EKzwFfD4QGxp6zJlRTx7O1FVFVy9ETTdPjF1X0F-C2Hydfvp8PdBLYsHXkyIUPwDE3N_okM8I3hvv9YOuKfzKAT2Rktn0jeeuULzkPEadoGWwJhXpgYICQfdICUl3=w350-h380-no?authuser=0" alt="">

        </div>
        <p>
          Dear <Username>,
        </p>
        <p>
          Welcome to BlueOnion - we're excited to see you here!
        </p>
        <p>
          We are here to help make sure you get what you expect from BlueOnion, so don't hesitate to reach out with questions.
        </p>
        <p>
            Start exploring BlueOnion here:
            <br>
            https://hubs.blueonion.today/login
            <br>
            Username: <Username>
            <br>
            Email: <Email>
            <br>
            Password: <Password>
            <br>
         </p>

        <p>
          Happy peeling!!!!
        </p>
        <p>
          <strong>Regards,</strong>
        </p>
        <p>
          <strong>Team Support</strong><br>
          Email: <span style="color: #4B4B4B;">Client.Support@blueonion.today</span>
        </p>
        <div style="margin-bottom: 10px;font-size: 12px;">
            <ul style="margin: 0; margin-bottom: 16px">
                <termCondition>
            </ul>
        </div>


    </div>
</body>

</html>
